# Project Files #
Archive
Artifacts
src/Archive/
src/Artifacts/
src/GeneratedHelp/
src/Reports/
site/
TestResults/
cov.xml
coverage.xml
Ignore

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

### OS ###
Thumbs.db
.DS_Store
